@charset "UTF-8";

div {
    display: flex;
}

#gis-container, #image-container {
    flex: 1;
    width: 50%;
    box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 크기를 유지하도록 함 */
}

#gis-container {
    overflow: hidden; /* 지도 영역이 넘칠 경우 가려지도록 함 */
}

#image-container {
    overflow: auto; /* 이미지가 넘칠 경우 스크롤 표시 */
    position: relative;
}

#states {
	fill: #fff;
}
#states path {
	fill: #f5f5f7;
	stroke: #a86eeb;
	stroke-width: 1.5px;
}

#states path:hover {
	fill: #66e7dd;
}

#states .active {
	fill: #00B700;
}

#states .activeDetail {
	fill: #00B700;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 12px;
	fill: #030303;
}

.popup {
	background-color: #b6cfc7;
	border: 1px solid #51cfba;
	padding: 10px;
	display: none;
}

ul {
	background-color: #FFDAB9;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {float: left;}
li a {
	display: block;
	background-color: #FFDAB9;
	color: #000;
	padding: 12px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 20px;
}
li a:hover {
	background-color: #cd853f;
	color: white;
}